// Variables
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #eeeeee;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url("../img/showcase.jpg");

// Set text color
@function text-color($color) {
  @if (lightness($color) >= 50) {
    @return #111;
  } @else {
    @return #fff;
  }
}
